*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

i {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(245, 245, 245, 1);

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    color: #9BA9B4;
}

.container {
    width: 100%;
    max-width: 1104px;
    margin: 0 auto;

    z-index: 1000;
}